.wrapper {
  display: flex;
  h1 {
    font-size: rem(20);
  }
  img {
    width: 100px;
    height: 100px;
  }
}

#main {
  background-image: url('/assets/img/2019-05-20_10.39.10.png');
  width: 500px;
  height: 150px;
}